.center-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-pic {
    max-width: 200px;
    max-height: 200px;
    display: block;
    max-width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.file-upload-avt {
    display: none;
}

.circle-avt {
    overflow: hidden;
    width: 200px;
    height: 200px;
    border: 8px solid rgba(0, 0, 0, 0.1);
    border-radius: 100% !important;
}

.avt-wrapper {
    position: relative;
}

img-avt {
   
}

.p-image {
    position: absolute;
    color: #999;
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
    top: 140px;
    left: 164px;
}

.p-image:hover {
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}

.upload-button {
    font-size: 2.4em;
    cursor: pointer;
    position: absolute;
}

.upload-button:hover {
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
    color: #4e73df;
}
