@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    Page.Title = "Tour Info";
}

<div class="card shadow mb-4">
    <div class="card-header py-3 clearfix">
        <h6 class="font-weight-bold text-primary float-left">Tour info list</h6>
        <a href="@Url.Action("Create", "TourInfo")" class="float-right btn bg-primary text-gray-100">Add new tour info</a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <input type="hidden" name="deleteTourInfoController" value="@Url.Action("DeleteTourInfo", "TourInfoAjax")" />
            <input type="hidden" name="getTourInfosController" value="@Url.Action("GetTourInfos", "TourInfoAjax")" />
            <table class="table table-bordered datatable" id="tourInfosDataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th name="Name">Name</th>
                        <th name="Rating">Rating</th>
                        <th name="Start Place">Start Place</th>
                        <th name="End Place">End Place</th>
                        <th name="Edit"></th>
                        <th name="Detail"></th>
                        <th name="Delete"></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Delete User Modal-->
<div class="modal fade" id="deleteTourInfoModal" tabindex="-1" role="dialog" aria-labelledby="deleteTourInfoModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteTourInfoModalLabel">Confirm to delete</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <button class="btn btn-primary" placeId="">Confirm</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="~/Areas/Admin/Resources/TourInfoListView.js"></script>
}